@media screen and (max-width:1000px){
    .nav-left-links li{
        padding: 0px;

    }
    .nav-right-links li{
        padding: 0px;
    }
    .heading {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column-reverse;
    }
    .info-left,
    .info-right {
     flex-basis: 100%;
    }
}
@media screen and (max-width:670px){
    .nav-left-links {
        display: none;
    }
    .nav-right-links {
        display: none;
    }
    .menu-icon{
        display: block !important;
    }
    .main-title {
    padding-top: 180px;
    padding-bottom: 100px;
    }
    .semboyan {
    text-align: center;
    }
    .semboyan h1 {
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0);
    color: #c53510;
    }
    .heading {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column-reverse;
    }
    .info-left h1 {
    font-size: 20px;
    }
    .info-left p {
    font-size: 13px;
     }
    .info-left,
    .info-right {
    flex-basis: 100%;
    }
    .info-right img {
    height: 300px;
    width: 300px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    }
    .content-icon p {
    margin-bottom: 15px;
  }
  .heading2 {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .heading2 h2 {
    font-size: 17px;
  }
}
